/SimpleCalc/nbproject/private/
/SimpleCalc/build/
/SimpleCalc/dist/
/Sorting/nbproject/private/
/Sorting/build/
/Sorting/dist/
/algorithms/nbproject/private/
/algorithms/build/
/algorithms/dist/
/hello_spring/nbproject/private/
/hello_spring/build/
/hello_spring/dist/
/test/nbproject/private/
/test/build/
/mvc/HelloSpring69/HelloSpring/nbproject/private/
/mvc/HelloSpring69/HelloSpring/build/
/javaFx/algorithm/nbproject/private/
/javaFx/algorithm/dist/
/javaFx/algorithm/build/
/ContactEditor/nbproject/private/
/ContactEditor/build/
/AlgorithmMvc/nbproject/private/
/AlgorithmMvc/build/
/AlgorithmMvc/dist/